.container {
  max-width: none;
  z-index: 10;
  opacity: 1;
  display: block;
  margin: auto;
  width: 90%;

}

#header {
  text-align: center;
  color: white;
  border-bottom: solid thin white;
  padding-bottom: 15px;
  margin: 10px 20px 0 20px;
  z-index: 10;
  position: relative;
  opacity: 0.8

}

#background {
  background-image: url('./assets/lights.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height : 100%;
  width : 100%;
  opacity: 0.7;
  z-index: 9;
}

#weatherBar {
  
  z-index: 10;
  position: relative;
  opacity: 0.3;
  display: block;
  margin: auto;
  width: 80%;
  height : 200px
}

.weatherCell {
  margin : 5px;
  background-color: white;
  position: relative;
  height: fit-content;

}

#planner {
  background-color: white;
  z-index: 10;
  position: relative;
  opacity: 0.8;
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height : 100px

}
#todo {
  background-color: white;
  position: relative;
  z-index: 10;
  opacity: 0.8;
  width: 80%;
 
}